.Ticket {
  /* background-color: red; */
  display: flex;
  flex-direction: row;
}

.puppyImg {
  /* display: inline-block; */
  height: 100px;
  margin: 0 10px;
}

.ticketInfo {
  /* display: inline-block; */
}
